{% extends "base.html.twig" %}

{% block title %}Cardgame{% endblock %}

{% block main %}
<div class="two-col-layout"> 
    <aside class="aside">
        <h1>Innehåll</h1>
        <ul class="button">
            <li><a href="{{ path('card_home') }}">Card</a></li>
            <li><a href="{{ path('session_info') }}">Session</a></li>
            <li><a href="{{ path('session_delete') }}">Session Delete</a></li>
            <li><a href="{{ path('show_deck') }}">Deck</a></li>
            <li><a href="{{ path('shuffle') }}">Shuffle</a></li>
            <li><a href="{{ path('draw_card') }}">Draw</a></li>
        </ul>
    </aside>  
    <main class="main">
        <div class="mainblock">
            <article class="article">
            </article>
        </div>
    </main>
</div>

{% endblock %}
