{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block main %}

    <table>
        <tr>
            <th>Titel</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Cover</th>
        </tr>
        <tr>
            <td>{{ book.titel }}</td>
            <td>{{ book.author }}</td>
            <td><a href="{{ path('read_book', {Isbn: book.Isbn}) }}">{{ book.Isbn }}</a></td>
            <td>
            {% if book.image %}
                <img src="{{ book.image }}" alt="Cover" width="80">              
            {% else %}
                    <img src="{{ asset('images/default-book.jpg') }}" alt="Default cover" width="80">
            {% endif %}
            </td>
        </tr>
    </table>

{% endblock %}