{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block main %}
<div class="two-col-layout"> 
    <aside class="aside">
        <h1>Innehåll</h1>
        <ul class="button">
            <li><a href="{{ path('library_home') }}">Library</a></li>
            <li><a href="{{ path('create_book') }}">Add book</a></li>
            <li><a href="{{ path('read_many') }}">Read all</a></li>
            <li><a href="{{ path('update_book') }}">Update</a></li>
            <li><a href="{{ path('delete_book_choose') }}">Delete book</a></li>
        </ul>
    </aside>  
    <main class="main">
        <div class="mainblock">
            <article class="article">
                <table>
        <tr>
            <th>Titel</th>
            <th>Author</th>
            <th>Isbn</th>
            <th>Cover</th>
        </tr>
        <tr>
            <td>{{ book.titel }}</td>
            <td>{{ book.author }}</td>
            <td><a href="{{ path('read_book', {Isbn: book.Isbn}) }}">{{ book.Isbn }}</a></td>
            <td>
            {% if book.image %}
                <img src="{{ book.image }}" alt="Cover" width="80">              
            {% else %}
                    <img src="{{ asset('images/default-book.jpg') }}" alt="Default cover" width="80">
            {% endif %}
            </td>
        </tr>
    </table>

            </article>
        </div>
    </main>
</div>

{% endblock %}