{% extends '../base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Titel</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Cover</th>
        </tr>
        {% for book in library %}
            <tr>
                <td>{{ book.titel }}</td>
                <td>{{ book.author }}</td>
                <td><a href="{{ path('read_book', {isbn: book.ISBN}) }}">{{ book.ISBN }}</a></td>
                <td>
                {% if book.image %}
                    <img src="{{ book.image }}" alt="Cover" width="80">
                {% else %}
                    No image
                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}